.square {
  background-color: green;
  font-size: 4em;
  color: red;
  width: 80px;
  height: 80px;
  border: 2px solid orange;
}

<<<<<<< HEAD
.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
=======
/* 1. When the screen is less than 600px, make 1 column of 20. */
>>>>>>> da4bc2fcd42476d761bdc341ff1081353519d6a8

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .app {
    flex-direction: column;
  }

  .section {
    flex-direction: column;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .app {
    flex-direction: row;
  }

  .section {
    flex-direction: column;
  }
}

@media (min-width: 801px) and (max-width: 1000px) {
  .app {
    flex-direction: column;
  }
}
body {
  display: flex;
<<<<<<< HEAD
  flex-direction: row;
}
=======
}
>>>>>>> da4bc2fcd42476d761bdc341ff1081353519d6a8
